<%= flash[:notice] %>
<div>
  <p>title：<%= @book.title %></p>
  <p>body：<%= @book.body %></p>
  <p><%= image_tag @book.user.get_profile_image(100,100) %></p>
  <p><%= @book.user.name %></p>
  <p>投稿日：<%= @book.created_at.strftime('%Y/%m/%d') %></p>
  <% if @book.user == current_user %>
    <%= button_to "Destroy", book_path(@book), method: :delete %>
    <%= button_to "Edit", edit_book_path(@book.id), method: :get %>
  <% end %>
</div>